<!doctype html>
<html>
<head>
  <title>Path Traversal Demo - Login</title>  
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="page-container">

  <div class="login-container">
    <div class="login-header">Login</div>
    <div class="login-instructions">Don't have an account? <a href="/signup">Sign-Up</a></div>
{% if error and not lockout %}
  <div class="login-error">Incorrect username or password.</div>
{% endif %}
{% if error and lockout %}
  <div class="login-error">Your account has been locked out.</div>
{% endif %}


<form method="POST" action="/login" class="login-form">
  <input class="login-input" type="text" placeholder="Username" name="username" required/>
  <input class="login-input" type="password" placeholder="Password" name="password" required/>
  <button class="login-button" type="submit">Login</button>
</form>
</div>
</div>
</body>
</html>
