<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">    
    <title>IDOR Demo - Signup</title>
  </head>
  <body>
    <div class="page-container">      
      <div class="login-container">
	<div class="login-header">Sign-Up</div>
	<div class="login-instructions">Already have an account? <a href="/login">Login</a></div>
      {% if error %}
      <div class="login-error">Username already exists.</div>
      {% endif %}

	<form method="POST" class="login-form">
    
	  <input class="login-input" type="text" placeholder="Username" name="username" id="username" required>
	  <input class="login-input" type="password" placeholder="Password" name="password" required>
	  <button class="login-button" type="submit">Sign-Up</button>
	</form>
      </div>
    </div>
  </body>
</html>
